{% extends 'base.html' %}
{% load thumbnail %}
{% load multi_query %}
{% block context %}

<div class="container mt-5 ">
    <div class="row">
        <div class="d-flex justify-content-end">
            <div class="d-inline-flex">

                <div>
                <form  class="d-inline-flex">
  <label for="min">min:</label><br>
  <input type="text" id="min" name="min" value="">
  <label for="max">max:</label><br>
  <input type="text" id="max" name="max" value="">
  <input type="submit" value="Submit">
</form></div>

      <!-- sort -->

                <div class="d-inline-flex ">

      <select  class="form-select" name="sort" id="sort-list" onchange="location = orderingurl();" style="margin-left: auto;">
        <option value="" id="placeholder" disabled selected hidden>Sort</option>
        <option id="New To Old" value="created">New To Old</option>
        <option id="Old To New" value="-created">Old to New</option>
      </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="d-inline-flex  flex-column bd-highlight mb-3">

                {% for category in categories %}

                <div class="p-2 bd-highlight"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></div>

                {% endfor %}
            </div>
        </div>
        {% for product in page_obj %}

        <div class="col-2">
            <a href="{{ product.get_absolute_url }}" target="_blank">
                <img style="width:125px height:125px" src="{% thumbnail product.thumbnail 125x125 %}"></a>
            <h1><a style="color:black; text-decoration:none;" href="{{ product.get_absolute_url }}">{{ product.name }}</a></h1>
            <h5>{{ product.category }}</h5>
            <p>{{ product.description }}</p>
            <p>{{ product.price }}</p>
        </div>
        <div class="col-1"></div>
        {% endfor %}
    </div>

</div>
<div class="container">
    <div class="pagination justify-content-center mt-5 mb-5" id="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% add_to_current_url page=1%}">&laquo; first</a>
            <a href="?{% add_to_current_url page=page_obj.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{% add_to_current_url page=page_obj.next_page_number %}">next</a>
            <a href="?{% add_to_current_url page=page_obj.paginator.num_pages %}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>

<script>
function orderingurl() {
    var url = new URL(window.location.href);
    var search_params = url.searchParams;
    search_params.set('ordering', document.getElementById("sort-list").value);
    url.search = search_params.toString();
    var new_url = url.toString();
    return new_url
  }

  // for getting url after applying price filtering
  function priceurl() {
    var url = new URL(window.location.href);
    var search_params = url.searchParams;
    search_params.set('price', document.getElementById("price-list").value);
    url.search = search_params.toString();
    var new_url = url.toString();
    return new_url
  }

</script>
</div>
{% endblock context %}